@import url('https://fonts.cdnfonts.com/css/arvin');
@import url('https://fonts.cdnfonts.com/css/slabtallx-medium');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/pexels-mart-production-7577941.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100%;
    margin: 0;
}

.card {
    font-family: 'Arvin Light', sans-serif;
    display: flex;
    margin: auto;
    padding: 1em;
    flex-flow: column;
    flex: 0;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-main,
.card-bottom {
    display: flex;
    justify-content: space-between;
}

.card-bottom {
    flex: 0 1 0;
    align-items:flex-end;
}

.card-main {
    flex-grow: 1;
    justify-content: space-between;
}

.personal-info {
    padding-left: 0;
    padding-right: 4em;
    flex: 1 1 100px;
}

.info-entry {
    font-family: 'Arvin Light', sans-serif;
    display: flex;
    align-items: center;
}

.info-entry i {
    padding-left: 1em;
    font-family: 'Arvin Light', sans-serif;
    color: rgb(60, 60, 60);
}

a {
    color: rgb(60, 60, 60);    
    text-decoration: none;
}

.my-photo {
    width: auto;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.card-bottom h2 {
    margin: 0.3em 0 0.3em 0;
}

button {
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}

button:active{
    box-shadow: 0 1px rgb(155, 155, 155);
    transform: translateY(1px);
}

footer {
    background-color: rgb(248, 246, 255);
    min-width: 100%;
    text-align: right;
    font-family: 'SlabTallX', sans-serif;
}

footer p{
    margin: 0;
}