@import url('https://fonts.cdnfonts.com/css/arvin');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pexels-mart-production-7577941.jpg);
    background-size: cover;
    font-family: 'Arvin Light', sans-serif;
}

.card {
    display: flex;
    margin: auto;
    margin-left: 18em;
    margin-right: 18em;
    margin-top: 8em;
    margin-bottom: 5em;
    padding: 1em;
    flex-flow: column;
    flex: 0 0 35em;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}

.card-main,
.card-bottom {
    display: flex;
    justify-content: space-between;
}

.card-bottom {
    flex: 0 1 0;
    align-items:flex-end;
}

.card-main {
    flex-grow: 1;
    justify-content: space-between;
}

.personal-info {
    padding-left: 0;
    flex: 1 1 100px;
}

.info-entry {
    font-family: 'Arvin Light', sans-serif;
    display: flex;
    align-items: center;
}

.info-entry i {
    padding-left: 1em;
    font-family: 'Arvin Light', sans-serif;
}

a {
    color: rgb(60, 60, 60);    
    text-decoration: none;
}

.my-photo {
    width: auto;
    height: 200px;
    border-radius: 30px;
}

.card-bottom h2 {
    margin: 0.3em 0 0.3em 0;
}

button {
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}